@page "/learnadvancerouting"
@inject NavigationManager Navigation

<h3>LearnAdvanceRouting</h3>
<h3>Param 1 : @Param1</h3>
<h3>Param 2 : @Param2</h3>

<p>
    <button class="btn btn-primary" @onclick="LoadParameters">Load Parameters</button>
   @*  <a href="LearnRouting" class="btn btn-danger">Back</a>
    <NavLink href="LearnRouting" class="btn btn-danger">Back With NavLink</NavLink> *@

    <button class="btn btn-danger" @onclick="BackToRouting">BackToRouting</button>
</p>

@code {
    private string Param1;
    private string Param2;

    private void LoadParameters()
    {
        var absoluteUri = new Uri(Navigation.Uri);
        var queryParam = System.Web.HttpUtility.ParseQueryString(absoluteUri.Query);
        Param1 = queryParam["Param1"];
        Param2 = queryParam["Param2"];

    }

    private void BackToRouting()
    {
        // Navigation.NavigateTo("LearnRouting");  //if you will not pass / then uri will not be show on bottom left corner
        Navigation.NavigateTo("/LearnRouting"); //if you pass / then uri will be show on bottom left corner 
    }
}
