
@if (IsAdmin)
{
    <div class="mt-3">
        <input type="submit" class="btn btn-danger me-2" value="Delete" />
        <input type="submit" class="btn btn-primary" value="Edit" />
    </div>
}

@code{
    [Parameter]
    public bool IsAdmin { get; set; }
}